@use '../../assets/styles/variables.scss' as vars;

.button {
  padding: 1rem 1.5rem;
  background-color: vars.$darkblue;
  color: vars.$white;
  border: solid 1px vars.$yellow;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    background-color: vars.$yellow;
  }

  &:active {
    opacity: 0.8;
  }
}
