@use '../../assets/styles/variables.scss' as vars;

.opportunity {
  border-top: solid 1px vars.$white;
  margin-top: 2rem;

  &:first-child {
    border: none;
    margin: 0;
  }
}

.volunteer-ways {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  img {
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  div {
    flex: 1;

    ul {
      list-style-type: disc;
      padding-left: 1.5rem;
    }
  }
}
