body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

ol {
  padding: 0;
  margin: 0;
}
