.appNavigation {
  background-color: blue;
}

.navigationLinks {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navigationLink {
  padding: 1rem;
  color: #fff;
  cursor: pointer;
}
