@use '../../assets/styles/variables' as vars;
@use '../../assets/styles/medias.scss' as medias;

.app-shell {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.app-shell__header {
  padding: 1rem 2rem;
  align-items: center;
  background-color: vars.$darkblue;
  display: grid;
  justify-items: center;
  grid-template-areas:
    'hamburger title'
    'social social';
  gap: 16px;

  @include medias.mobile-md() {
    grid-template-areas:
      'title'
      'navigation'
      'social';
  }

  @include medias.tablet() {
    grid-template-areas:
      'title social'
      'navigation navigation';
  }

  @include medias.desktop() {
    grid-template-areas: 'title navigation social';
  }
}

.app-shell__hamburger {
  grid-area: hamburger;

  @include medias.mobile-md() {
    display: none;
  }
}

.app-shell__title {
  grid-area: title;
  margin: 0;

  @include medias.mobile-md() {
    text-align: center;
  }
}

.app-shell__navigation {
  grid-area: navigation;
  display: none;

  @include medias.mobile-md() {
    display: block;
  }
}

.app-shell__sidemenu {
  display: block;

  @include medias.mobile-md() {
    display: none;
  }
}

.app-shell__social {
  grid-area: social;
}

.app-shell__content {
  padding: 2rem;
  position: relative;
}
